<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <runtime>
 <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 <dependentAssembly>
 <assemblyIdentity name="MinunKomponentti" publicKeyToken="08632bac3852ce36" />
 <publisherPolicy apply="yes" />
 <bindingRedirect oldVersion="1.0.0.3" newVersion="1.0.0.4" />
<codeBase version="1.0.0.4" href="file:///c:/work/yhteiset/minunkomponentti.dll"/>
 </dependentAssembly>
 </assemblyBinding>
 </runtime>
</configuration>